@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  body {
    font-family: var(--font-inter), sans-serif;
  }
}

@layer utilities {
  .bg-dots {
    background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1.5px, transparent 1.6px);
    background-size: 26px 26px;
  }
}
